<div class="jumbotron">
  <div class="container">
    <h1 Mathjax tex="{{title}}" class="display-3"></h1>
    <p>{{mainBlurb}}</p>
    <p><a class="btn btn-primary btn-lg" routerLink="/editor" role="button">{{mainBtnTxt}} &raquo;</a></p>
  </div>
</div>

 <div class="container">
      <div class="row">
		  
		<!-- column one -->
        <div class="col-md-6">
          <h2>{{subTitle}}</h2>
          <p>{{subBlurb}}</p>
          <p><a class="btn btn-secondary" routerLink="/about" role="button">{{subBtnTxt}} &raquo;</a></p>
        </div>
		
		<!-- column two -->
		<div class="col-md-6">
			<div *ngFor="let symbolRow of symbols" class="row">
				<div *ngFor="let symbol of symbolRow" class="col">
					<p Mathjax tex="{{symbol.tex}}" class="symbol" [style.color]=symbol.colour></p>
				</div>
			</div>
		</div>

      </div>
	  <hr>
	  <footer>
		  <p>© Guy King 2017</p>
	  </footer>
  </div>