li {
	color: gray;
	font-size: 5em;
	list-style-type: none;
	padding: 50px;
}

.container {
	display: -webkit-flex;
	display: flex;
	height: 100vh;
}

.container div {
	-webkit-flex: 1;
	flex: 1;
}

.right_side {
	background-color: black;
}

.math_symbols {
	-moz-column-count: 3;
	column-count: 3;
}
