<header>{{title}}</header>



<div class='container'>
	
	<div></div>

	
	<div>
		<h1>Share</h1>
		<h1>your</h1>
		<h1>math</h1>
	</div>
	<div class='right_side'>
		<ul class='math_symbols'>
			<li>{{symbols[0]}}</li>
			<li>{{symbols[1]}}</li>
			<li>{{symbols[2]}}</li>
			<li>{{symbols[3]}}</li>
			<li>{{symbols[4]}}</li>
			<li>{{symbols[1]}}</li>
			<li>{{symbols[3]}}</li>
			<li>{{symbols[3]}}</li>
			<li>{{symbols[5]}}</li>
		</ul>
	</div>
</div>





<footer>
	Footer content goes here.
</footer>


















