li {
	color: #66ff33;
	font-size: 3em;
	list-style-type: none;
	padding: 30px;
}

.container {
	display: -webkit-flex;
	display: flex;
	height: 80vh;
	background-color: #e6e6e6;
}

.container div {
	-webkit-flex: 2;
	flex: 2;
}

.right_side {
	background-color: white;
}

.math_symbols {
	-moz-column-count: 2;
	column-count: 2;
}

footer {
	height: 7.5vh;
	background-color: white;
}

header {
	height: 12.5vh;
	background-color: black;
	color: white;
}
