<div class='container'>
	
	<div></div>

	<div>
		<h1>Share</h1>
		<h1>your</h1>
		<h1>math</h1>
	</div>
	<div class='right_side'>
		<ul class='math_symbols'>
			<li Mathjax tex='{{symbols[0]}}'>{{symbols[0]}}</li>
			<li Mathjax tex='{{symbols[1]}}'>{{symbols[1]}}</li>
			<li Mathjax tex='{{symbols[2]}}'>{{symbols[2]}}</li>
			<li Mathjax tex='{{symbols[3]}}'>{{symbols[3]}}</li>
			<li Mathjax tex='{{symbols[4]}}'>{{symbols[4]}}</li>
			<li Mathjax tex='{{symbols[0]}}'>{{symbols[0]}}</li>
			<li Mathjax tex='{{symbols[1]}}'>{{symbols[1]}}</li>
			<li Mathjax tex='{{symbols[5]}}'>{{symbols[5]}}</li>
		</ul>
	</div>
</div>