.btn-centre {
	text-align: center;
	margin: auto;
	padding: 3vh;
}

.no-padding {
   padding: 0;

}

.wrap {
	padding-top: 1.38rem;
	padding-left: 0rem;
}

.preview {
	font-size: 1.5em;
	font-family: serif;
	background-color: #292b2c;
	color: #ffffff;
	height: 80vh;
	padding: 20px;
	overflow-y: scroll;
}

textarea {
	color: #66FF66;
	font-size: 1.5em;
	font-family: 'Courier', monospace;
	width: 100%;
	height: 80vh;
	padding-top: 20px;
	padding-left: 30px;
}
