<div class="container-fluid wrap">
	
		<div class="row">
			<div class="col-md-6 no-padding">
				<textarea placeholder='{{placeholderTex}}' [(ngModel)]='userTex'>
				</textarea>
			</div>
			
			<!-- render placeholder, no user input -->
			<div *ngIf="!userTex && userTex?.length !== 0" class="col-md-6 preview" Mathjax tex={{placeholderTex}}>
			</div>
			
			<!-- user input entered then deleted, rerender placeholder -->
			<div *ngIf="userTex?.length === 0" class="col-md-6 preview" Mathjax tex={{placeholderTex}}>
			</div>
			
			<!-- render user input -->
			<div *ngIf="userTex?.length > 0" class="col-md-6 preview" Mathjax tex={{userTex}}>
			</div>
		</div>
	
		<div class="btn-centre">
			<button type='button' (click)='setUserTex(userTex)' routerLink='/conf' class="btn btn-success btn-lg btn-huge">Share</button>
		</div>
		
		<app-footer></app-footer>
</div>
