.wrap {
	padding-top: 1.38rem;
}

.message {
	font-size: 1.5em;
}

.preview {
	font-size: 1em;
	font-family: serif;
	background-color: #292b2c;
	color: #ffffff;
	height: 80vh;
	padding: 70px;
	overflow-y: scroll;
}